body{
    font-family: sans-serif;
    background-color: #ccc;
    margin: 0;
}

.top{
    background-image: url(/Projeto01/src/bg-4.jpg);
    height: 500px;
    background-position: top left;
    background-size: cover;
    border-top: 1px solid transparent;
}
.top ul{
    text-align: right;
    margin: 20px 50px 0 0;
}
.top li{
    display: inline-block;
    border: solid 1px white;
    list-style: none;
    margin-left: 10px;
}

.top nav a{
    background: #00000073;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}
.top nav a:hover{
    background: #000000a1
}

.top-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}
.top-content h1{
    text-transform: uppercase;
    text-shadow: 1px 1px 5px black;
    font-size: 52px;
}

.top-content p{
    background-color: rgba(0, 0, 0, 0.801);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
    
}

main{
    margin: auto;
    width: 80%;
}

.sec01, .sec02{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
}

.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
    border: 1px solid blue;
}

.card-01, .card-02{
    margin-right: 2%;
}
.card img{
    width: 100%;
    display: block;
}

.card p{
    background-color: #333;
    color: white;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sec02 h3{
    margin: 0;
    background-color: #eee;
    border-bottom: solid 2px #ccc;
    padding: 10px;
}

.rodape{
    background-color: rgb(88, 82, 82);
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    height: 80px;
    line-height: 80px;
    font-size: 12px;
    
}
